@tailwind base;
@tailwind components;
@tailwind utilities;

.circle_wrapper{
  padding:15px;
  border-radius: 50%;
  background-color: #efefef;
  cursor: pointer;
}
.herocircle{
  background: #ffece3;
  width:484px;
  height:484px;
  z-index: -1;
}

h1{
  
}